/* الأساسيات */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e9e2d8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* لضمان ترتيب العناصر عموديًا */
}

/* الشريط العلوي */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #697565;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

nav .input {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
}

/* الحاوية الرئيسية */
.container {
    width: 100%;
    text-align: center;
}

/* عناصر التحكم */
.controls {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #697565;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* تنسيق الإدخالات والأزرار */
.controls div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-p {
    display: flex;
    gap: 10px;
}

.input-p input {
    margin-right: 5px;
}

.controls label {
    font-size: 1rem;
    margin-right: 10px;
}

.controls input {
    padding: 10px 15px;
    font-size: 1rem;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.controls input:focus {
    border-color: #e9e2d8;
    box-shadow: 0 0 5px rgba(204, 216, 161, 0.5);
}

/* الأزرار */
.button {
    background-color: #f1efea;
    color: #3C3D37;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.controls > div .button {
    margin-left: 10px;
}

.button:hover {
    background-color: #3C3D37;
    color: #e9e2d8;
    transform: scale(1.05);
}

/* النتيجة */
#result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #3C3D37;
}

/* الرسم */
canvas {
    margin-top: 20px;
    background-color: #fff;
    border: 2px solid #3C3D37;
    width: 100%;
    max-width: 1000px;
    height: auto;
}

/* تحسين التوافق مع الشاشات المتوسطة والصغيرة */
@media (max-width: 1024px) {
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav .input {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .input-p {
        flex-direction: column;
        align-items: center;
    }
}

/* تحسين الإدخالات والأزرار للشاشات الصغيرة */
@media (max-width: 768px) {
    .input-rounded {
        width: 90%;
        text-align: center;
    }

    .button {
        width: 90%;
    }

    .controls > div .button {
        margin-bottom: 10px;
    }

    canvas {
        max-width: 90%;
    }
}
